@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #0C0C0C;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
